.background {
  display: flow-root;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #1b213b;

  .dateline{
    text-align: end;
    color: #fff;
    .longDate{
      display: flex;
      justify-content: center

    }
    // .shortTime{
    //   width: 50%;
    //   text-align: end;
    //   padding: 0vw 1vw 10vw 6vw;
    // }
  }

  .report-container {
    max-width: 69%;
    margin: auto;
    margin-top: 6vw;
    border: 1vw solid;
    border-color: #262d47;
    background-color: #262d47;
    padding: 6vw;
    border-radius: 3vw;
    font-family: Arial, sans-serif;
    color: #fff;
    box-sizing: border-box;
    h2 {
      text-align: center;
      margin-block-end: 5vw;
      margin-top: -3vw;
      font-size: 30px;
    }

    .filter-container {
      flex-direction: column;
      margin-left: 9vw;
      align-items: self-start;

      label {
        margin: 13px 6px 80px;
        font-size: larger;
      }

      .justify-content-center{
        margin-right: 17.3vw;
      }
      .flex-row{
        justify-content: center
      }

      .from{
        display: flex;
      }

      .to{
        display: flex;
      }

      button {

        background-color: #185ca5;
        color: #fff;
        cursor: pointer;
        border-radius: 1vw;
        width: 40%;
        padding: 2.2%;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 10vw;

        &:hover {
          background-color: #185ca5;
        }
        i{
          font-size: 2cap;
        }
      }
      .generate{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    }
  }
}

:host::ng-deep {
  p-dropdown, .p-dropdown{
    width: 15.6vw;
    height: 48px;

  }

  p-calendar > .p-calendar > .p-datepicker-trigger {
    background-color:#fff;
    color: #1b213b;
    border: #fff;
  }
  p-calendar > .p-calendar > .p-inputtext {
    height: 45px;
    max-width: 100%;
  }
  p-calendar, .p-calendar {
    max-width: 100%;
    width: 15.6vw;
    height: auto;
  }
  p-dropdown > div > span{
    margin: auto;
  }
}
