.background {
  display: flow-root;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: rgb(27,33,59);

  .dateline{
    text-align: end;
    color: white;
    display: flex;
    .longDate{
      width: 61%;
      text-align: end;
    }
    .shortTime{
      width: 50%;
      text-align: end;
      padding: 0vw 1vw 10vw 6vw;
    }
  }

  .report-container {
    width: 60%;
    height: auto;
    max-width: 800px;
    margin: auto;
    border: 5px solid rgb(38, 45, 71);
    background-color: rgb(38, 45, 71);
    padding: 60px;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    color: white;
    box-sizing: border-box;
    h2 {
      text-align: center;
      margin-block-end: 70px;
      margin-top: auto;
      font-size: 28px;
    }

    .filter-container {
      display: grid;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 30px;

      label {
        margin: 13px 6px 80px;
        font-size: larger;
      }

      .justify-content-start{
        width: 43%;
        max-width: 52%;
      }

      .from{
        display: flex;
      }

      .to{
        display: flex;
      }

      button {
        background-color: #185ca5;
        color: #fff;
        cursor: pointer;
        border-radius: 8px;
        width: 40%;
        padding: 2%;
        font-family: Arial, Helvetica, sans-serif;

        &:hover {
          background-color: #0056b3;
        }
        i{
          font-size: 2cap;
        }
      }
      .generate{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    }
  }
}

:host::ng-deep {
  p-dropdown, .p-dropdown{
    width: 120%;
    left: 5px;
    height: 45px;

  }

  p-calendar > .p-calendar > .p-datepicker-trigger {
    background-color: white;
    color: black;
    border: #fff;
  }
  p-calendar > .p-calendar > .p-inputtext {
    height: 45px;
    max-width: 100%;
  }
  p-calendar, .p-calendar {
    max-width: 100%;
    width: 14vw;
    height: auto;
  }
}
